---

---

<section class="py-4">
    <div class="w-11/12 mx-auto">
        <h2 class="text-4xl font-semibold mb-7">Projects</h2>

        <form class="md:w-6/12">
            <div class="mb-5">
                <input class="form-input text-lg border-0 bg-gray-100 rounded-lg focus:ring-gray-900 w-full" type="text" placeholder="Your name">
            </div>

            <div class="mb-5">
                <input class="form-input text-lg border-0 bg-gray-100 rounded-lg focus:ring-gray-900 w-full" type="email" placeholder="Your email">
            </div>

            <div class="mb-5">
                <textarea class="form-input text-lg border-0 bg-gray-100 rounded-lg focus:ring-gray-900 w-full" name="" id="" placeholder="Your message"></textarea>
            </div>

            <div class="flex justify-end">
                <button type="submit" class="text-lg py-2 px-4 border-0 bg-gray-100 rounded-lg focus:ring-gray-900">Submit</button>
            </div>
        </form>
    </div>
</section>

<style lang="scss">
    .project-card {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
</style>