---

---

<footer class="mt-3 py-3 bg-gray-100">
    <div class="w-11/12 mx-auto flex gap-x-8 justify-center items-center">
        <a href="https://www.github.com/andrijantasevski/"><img src="/icons/github-icon-footer.svg" alt="GitHub"></a>
        <a href="https://www.instagram.com/andrijantasevski/"><img src="/icons/instagram-icon-footer.svg" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/andrijan-tasevski-502903225/"><img src="/icons/linkedin-icon-footer.svg" alt="LinkedIn"></a>
    </div>
</footer>