---

---

<section class="py-4">
    <div class="w-11/12 mx-auto">
        <h2 class="text-4xl font-semibold mb-7">Projects</h2>

        <div class="flex flex-col gap-y-8 md:grid md:grid-cols-2 gap-x-8">
            <div class="project-card bg-gray-100 rounded-md p-6">
                <a href=""><h3 class="text-2xl font-medium">Garemotion</h3></a>
                <p class="mb-5">Astro 路 Tailwind 路 Netlify CMS</p>
                <a href="#"><img class="rounded-lg mb-5" src="/garemotion.png" alt="Garemotion Website"></a>

                <div class="flex justify-between">
                    <a class="text-lg font-medium" href="#">Discover &rightarrow;</a>
                    <a href="#"><img src="/icons/github-icon.svg" alt="GitHub Icon"></a>
                </div>
            </div>

            <div class="project-card bg-gray-100 rounded-md p-6">
                <a href=""><h3 class="text-2xl font-medium">Garemotion</h3></a>
                <p class="mb-5">Astro 路 Tailwind 路 Netlify CMS</p>
                <a href="#"><img class="rounded-lg mb-5" src="/garemotion.png" alt="Garemotion Website"></a>

                <div class="flex justify-between">
                    <a class="text-lg font-medium" href="#">Discover &rightarrow;</a>
                    <a href="#"><img src="/icons/github-icon.svg" alt="GitHub Icon"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .project-card {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }
</style>