---
import BaseHead from "../components/BaseHead.astro";
import MetaTags from "../components/MetaTags.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
    <MetaTags />
</head>
<body>
    <slot></slot>
</body>
</html>